* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 10px;

/*   background-color: sandybrown;
 */}

header nav {
/*   padding: 40px 20px;
 */
/*   background-color: aquamarine;
 */}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  margin-right: 20px;
  
/*   background-color: blue;
 */}

header ul li{
  padding: 10px;
  background-color: #4a4a4a;
  border-radius: 10px;
  color: white;
}

header ul a {
  display: inline-block;
/*   width: 40px;
  height: 40px;
 */  text-align: center;
  line-height: 40px;
  text-decoration: none;

/*   background-color: chocolate;
 */}

main {
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 90px 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
/*   border: aquamarine solid 2px;
 */  background-color: black;
}

.user {
  border: black solid 2px;
  max-width: 100%;
}

.photo {

}

.name {
/*   max-width: max-content;
 */  padding: 5px;
  color: white;
  background-color: rgba(74, 74, 74, 0.4);
}

footer {
  background-color: #222222;
  height: 100px;
}